* {
    margin: 0%
    
}

body {
    background-color: rgb(20, 20, 20);
    background-repeat: no-repeat;
    height: 739px;
    font-family: 'Times New Roman', Times, serif;
    }
header {
    background-color: rgba(48, 48, 48, 1.000); 
    padding: 30px;
    color: white;
    border-bottom-color:#fad505;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
section {
    margin: 0px;
    float:left;
}

aside {
    margin: 0px;
    float:right;
}

footer {
    margin: 0px;
}

.cool_link {
    font-weight: bold;
   text-decoration: none;
   color: #fad505;
}

.cool_link:hover {
    font-weight: bold;
   text-decoration: underline;
   color: #fad505;
}

.logo {
    margin-right: 25px;
    object-fit: cover;
    float: right;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #fad505;
    

}

.me_bro {
    object-fit: cover;
    
    margin: 30px;
    margin-left: 187.5px;
    margin-bottom: 25px;

    border-width: 2px;
    border-color:  #fad505;
    border-style: solid;
    border-radius: 10px;

    height: 310px;
    width: 310px;
    box-shadow: 10px 25px 28px rgb(0, 0,0.5);
    overflow: hidden;
}

.me_imgs {
    width: 100%;
    display: flex;
    animation: slide 20s infinite;
}

@keyframes slide {
   0%{
    transform: translateX(0%);
   } 
   20%{
    transform: translateX(0%);
   } 
   30%{
    transform: translateX(-100%);
   } 
   40%{
    transform: translateX(-100%);
   } 
   50%{
    transform: translateX(-100%);
   } 
   60%{
    transform: translateX(-200%);
   } 
   70%{
    transform: translateX(-200%);
   } 
   80%{
    transform: translateX(-300%);
   } 
   90%{
    transform: translateX(-300%);
   } 
   100%{
    transform: translateX(-400%);
   } 
}
.about_text {
    color: #fad505 ;
    background-color: rgb(48, 48, 48);
    width: 740px;
    height: 120px;
    margin: 30px;
    margin-bottom: 10px;

    border-color:#fad505;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;

    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    box-shadow: 10px 25px 38px rgb(0, 0,0.5)
    
    
}
.about_text h1 {
    background-color: rgb(48, 48, 48);
    text-align: center;
}




.coming_soon {
    color: #fad505;
    background-color: rgb(48, 48, 48);
    width: 720px;
    height: 544px;

    margin: 30px;
    
    border-color:#fad505;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;

    padding-top: 20px;
    padding-bottom: 20px ;
    
    border-radius: 10px;
    
    box-shadow: 10px 25px 38px rgb(0, 0,0.5);
    
}
.coming_soon h1 {
   
    background-color: rgb(48, 48, 48);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    
    
}
.coming_soon p {
    
    background-color: rgb(48, 48, 48);
    text-align: center;
    margin-bottom: 20px;
    
    
}
.coming_soon ul li {
    
    background-color: rgb(48, 48, 48);
    margin-bottom: 30px;
    
}

/*:hover {
 only for links
 put after a link class to make a psuedo class which talks about the state of it
}*/
/* must be put in this order or errors 
link = normal aka unnesasary 
visited is self explainitory
active means while you are clicking on said link
hover means when a mouse is hovering over it
