<!DOCTYPE html>
<html lang="en">
<head>

<!-- padding then border then margin/ total is  padding + border + margin + all other stuff like width + height-->
<!--Text has margin top and bottom which is the font size-->  
<!--Font stack is important put font you want a look alike then so on-->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brayden's Innovations</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

</head>

<body>

<header>
    <div class="title">Brayden's Innovations 
            <a class="logo" href="https://github.com/ThatNerd404">
                <img src="static\github.png" width="35" height="35">
            </a>
    </div>

</header>

<section>
<div class="me_bro">
    <div class="me_imgs">
    <img src="static\ME_2.jpg" width="415" height="415">
    <img src="static\ME_3.jpg" width="415" height="415">
    <img src="static\ME_4.jpg" width="415" height="415">
    <img src="static\ME_5.jpg" width="415" height="415">
    <img src="static\ME_6.jpg" width="415" height="415">
    
    </div>
</div>

<div class="about_text">
    <h1>About Me!</h1>
    Hello! My name is Brayden C. and this is my website! This will be
    where I keep all of the links to my projects! Whoami? I am a teenager programmer-in-training
    (Aka I watched a some youtube tutorials and read some books). I am studying to
    be a full-stack developer and I am currently learning Python , Html , and Css!
    I can't wait to see the amazing things I can create!
    <!--<a class="cool_link" href="https://www.google.com">link for checking if css works</a>
    -->
    </div>

</section>
   
<aside>
    <div class="coming_soon">
        <h1>My projects and whats soon to come!</h1>
        <p>Here is a bunch of links to my completed projects and a bunch of projects in progress!</p> 
        <ul>
            <li>
                Coming soon:<a class="cool_link" href="https://github.com/ThatNerd404/D.E.A.T.H"> D.E.A.T.H!</a>
                D.E.A.T.H is an progam which will start on boot and start apps I commonly use automatically, present me with some useful information, and perform mundane tasks automatically!
            </li>
            
        </ul>
        <h1>Thats all for now!</h1>
        <p>But, Be prepared for what I can make! </p>
    </div>   
</aside>
   
</body>

</html>