<!DOCTYPE html>
<html lang="en">
<head>

<!-- padding then border then margin/ total is  padding + border + margin + all other stuff like width + height-->
<!--Text has margin top and bottom which is the font size-->  
<!--Font stack is important put font you want a look alike then so on-->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brayden's Innovations</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

</head>

<body>

<header>
    <div class="title">Brayden's Innovations 
        <span class="logo">
            <a href="https://github.com/ThatNerd404">
                <img src="static\github.png" width="35" height="35">
            </a>
        </span>
    </div>

</header>

<section>
<div class="me_bro">
    pic of me here
</div>
<div class="about_text">
    Text will go here later nerds!
</div>
</section>
   
   <aside>

   
   </aside>
   
    <footer>


   </footer>

</body>

</html>